@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}




.pcLogo {
    width: 100px;
}
.navbar2{
    border: solid 10px blue;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 15px;
    border-top: solid 10px orangered;
    border-left: solid 10px orangered;
    border-right: solid 10px orangered;

}
a:hover {
    background-color: orangered;
    border: dashed 2px orangered;
}






.ultimasNovedades {
    background-color: blue;
    color: orangered;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

.ultimasNovedades h2 {
    font-size: 45px;
}
.colorBtn {
    background-color: blue;
    color: orangered;
    font-size: 18px;
}

.colorBtn:hover {
    background-color: red;
    color: #fafafa;
}



.cardimg {
   border: blue 10px solid;
}

.final1 {
    background-color: blue;
    padding-bottom: 20px;
    color: orangered;
}


.final2 {
    background-color: orangered;
    padding-top: 20px;
    color: blue;
}




.ultimasNovedades2 {
    background-color: orangered;
   color: blue;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}


.navbar1{
    border: solid 10px orangered;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 15px;
    border-top: solid 10px blue;
    border-left: solid 10px blue;
    border-right: solid 10px blue;

}
.contacto{
    background-image: url(../img/opiniones.jpg);
    background-repeat: repeat;
}
.textoContacto {
    font-size: 20px;
    color: blue;
}

.whats {
    width: 130px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.nosotros {
    background-color: blue;
    color: orangered;
    font-size: 18px;
}
.nosotros2 {
        background-color: orangered;
        color: blue;
        font-size: 18px;

}

.acercaDeNosotros{
    background-image: url(../img/a80cc3a0a3acd9e4db805fb13bbb1524.jpg);
    background-repeat: repeat;
}