$color_1: orangered;
$color_2: #fafafa;
$color_3: blue;
$color_4: black;
$font-family_1: "Roboto", sans-serif;
$background-color_1: orangered;
$background-color_2: blue;
$background-color_3: red;
$background-color_4: black;