$color_1: white;
$color_2: orangered;
$color_3: #fafafa;
$color_4: black;
$font-family_1: "Roboto", sans-serif;
$background-color_1: orangered;
$background-color_2: black;
$background-color_3: blue;
$background-color_4: red;
$background-color_5: white;